#button1 {
	margin-left: 46%;
	margin-top: 50px;
}

.block {
    #border: 1px solid black;
    text-align: center;
    vertical-align: middle;
	height: 500px;
}

.circle {
    background: gray;
    border-radius: 200px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    margin: 20px auto;
	display: inline-block;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
	line-height: 20px;
	padding-top: 30px;
}